body {
  margin: 0 !important;
  background: url("../img/bg1.png") left -500px top 1130px no-repeat,
    url("../img/bg2.png") right 0 top 1940px no-repeat,
    url("../img/bg3.png") left 0 top 3300px no-repeat,
    url("../img/bg4.png") left 0 top 5700px no-repeat;
  background-size: auto, auto, auto, auto;
}

@keyframes movebounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes violin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#icon1 {
  animation: violin 2s infinite;
}

.note-position-1 {
  bottom: -250px;
  left: -50px;
}

.note-position-2 {
  bottom: -50px;
  left: 0px;
}

.note-position-3 {
  top: -100px;
  right: 70%;
}

.note-position-4 {
  top: -110px;
  right: 40%;
}
.note-position-5 {
  top: 70px;
  right: 30%;
}

/* .note-position-1 { */
/* top: 0;
  left: 0;
} */

.note-amination {
  position: absolute;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.4);
  animation: movebounce 3s linear infinite;
}

.my-widget-table-course {
  border: 1px #ddd solid;
  display: flex;
  flex-direction: column;
  font-family: "lora";
}

.my-widget-table-course > .title {
  display: flex;
  align-items: center;
}

.my-widget-table-course > .title .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #92193d;
  border: 1px #ddd solid;
  text-transform: uppercase;
  cursor: pointer;
}

.my-widget-table-course > .title .box.active {
  background: #ddd;
  border-bottom: 2px #92193d solid;
}

.my-widget-table-course .content .table.active {
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 400px;
  overflow: auto;
  display: block;
}

.my-widget-table-course .content .table {
  display: none;
}

.my-widget-table-course .content .table table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.my-widget-table-course .content .table table thead tr th {
  background: linear-gradient(to right, #ce5577 0, #93193d 41%);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
}

.my-widget-table-course .content .table table tbody tr td {
  color: #000;
  font-weight: 500;
  border: 1px solid #4b4b50;
  vertical-align: middle;
  padding: 5px 10px;
}

.my-widget-table-course .content .table table tbody tr.name td {
  background: #ffcb05;
  text-align: center;
  font-weight: 600;
}

.my-widget-table-course .content .table table tbody tr:nth-of-type(even) {
  background-color: rgba(147, 25, 61, 0.1);
}
